:root {
  --bg-gradient: linear-gradient(
    335deg,
    rgb(12, 8, 80) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgb(80, 189, 252) 100%
  );
  --bg-color: rgba(110, 168, 235);
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: white;
}

.app-container {
  width: 95vw;
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
}

.details-card {
  background-image: var(--bg-gradient);
  border-radius: 1rem;
  padding: 2rem 0.75rem;
  display: flex;
  flex-direction: column;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.search-area {
  background: rgba(255, 255, 255, 0.108);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.32);
  /* for the glassmorphism effect */
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.search-area input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  margin-left: 0.75rem;
}
.search-area input::placeholder {
  color: rgba(255, 255, 255, 0.718);
}
.search-area input:focus {
  color: white;
}

.location-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 1rem;
}
.city-name {
  font-size: 1.35rem;
  margin-bottom: 0.35rem;
}
.notification-menu-btn button {
  background: rgba(0, 0, 0, 0.143);
  border-radius: 0.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.118);
  padding: 0.5rem;
}
.notification-menu-btn button i {
  font-size: 1rem;
}

.current-weather {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}
.current-weather .weather-visual {
  flex: 1;
  justify-self: flex-end;
}
.temp-display-description {
  flex: 0.9;
  justify-content: flex-start;
}
.temp-display-description .temp-value {
  font-size: 4rem;
}
.temp-display-description .weather-description {
  text-transform: capitalize;
}

.temp-range {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.temp-range > div {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.143);
  border-radius: 0.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.118);
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.temp-range > div * {
  margin: 0rem 0.175rem;
}

.additional-weather-details {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  background: rgba(0, 0, 0, 0.143);
  border-radius: 0.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.118);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.detail-seperator {
  width: 0.1rem;
  background-color: rgba(255, 255, 255, 0.705);
}
.additional-weather-details > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.additional-weather-details > div .detail-label {
  color: rgba(255, 255, 255, 0.705);
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
}
.additional-weather-details > div .detail-value {
  font-weight: 700;
}
.humidity-details,
.cloud-details {
  flex: 1;
}
.wind-details {
  flex: 1.5;
}
/* .additional-weather-details > * {
  margin: 0rem 0.85rem;
} */

.today-forecast-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 1.5rem 0rem;
}
.today-forecast-section .hourly-card {
  background-color: rgb(75, 143, 226);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.825rem;
  border-radius: 1rem;
  padding: 0.5rem 0.25rem;
  margin: 0rem 0.25rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.075) inset;
}

.five-day-forecast {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  color: black;
  align-items: center;
  padding: 1rem 0.5rem;
  margin-bottom: 5rem;
}
.five-day-forecast .forecast-title {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.five-day-forecast .forecast-list {
  width: 100%;
}
.five-day-forecast .forecast-list .forecast-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 1rem;
  /* background-color: rgba(2, 72, 91, 0.051); */
  margin: 1rem 0rem;
  padding: 0.5rem 1.5rem;
  background: linear-gradient(to right, #cbd5e1 0%, #c5d1e0 100%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.five-day-forecast .forecast-list .forecast-item .forecast-temp,
.forecast-description {
  flex: 1;
}
.forecast-day {
  flex: 0.5;
}
.forecast-icon {
  flex: 0.5;
  border-radius: 1rem;
  height: 30%;
}
.forecast-temp {
  text-align: center;
}
.forecast-description {
  text-transform: capitalize;
}
